@*@CodeCopy*@
@*#if ACCOUNT_ON*@@*
@{
    @using Microsoft.AspNetCore.Mvc.Rendering
    @using Frontend.AspMvc.Modules.Session
    @model Frontend.AspMvc.Models.Account.LogonViewModel

    var sessionWrapper = new SessionWrapper(Context.Session);
    var controller = ViewContext.RouteData?.Values["controller"]?.ToString() ?? string.Empty;
    var action = ViewContext.RouteData?.Values["action"]?.ToString() ?? string.Empty;
    var title = (action);
    var subTitle = ("Please provide your user credentials to proceed:");

    ViewData["Title"] = title;

    <div class="vertical-flex-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>@title</h2>
                    <h4>@subTitle</h4>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-8 offset-2 text-center">
                    <div class="account-wall">
                        <span class="profile-img text-center">
                            <i class="fa fa-user"></i>
                        </span>
                        <p></p>
                        @using (Html.BeginForm("Logon", "Account", new { returnUrl = "" }, FormMethod.Post, null, new { @class = "form-signin", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(m => m.ReturnUrl)
                            <input name="@nameof(Model.Email)" type="text" class="form-control" placeholder="@("Email")" required autofocus />
                            <p></p>
                            <input name="@nameof(Model.Password)" type="password" class="form-control" placeholder="@("Password")" required />
                            <p></p>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                @("Sign in")
                            </button>
                        }
                        @if (string.IsNullOrEmpty(ViewBag.Error) == false)
                        {
                            <p></p>
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.Error
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
*@@*#endif*@
