@*@CodeCopy*@
@model Frontend.AspMvc.Models.Model
@{
    //var controller = ViewContext?.RouteData?.Values["controller"]?.ToString();
    //var action = ViewContext?.RouteData?.Values["action"]?.ToString();
    var title = "Home";
    ViewData["Title"] = title;

    var pdfStatus = ViewData["pdfStatus"];

    if (pdfStatus == "succses")
    {
        <div class="alert alert-success" role="alert">
            PDF wurde erfolgreich erstellt
        </div>
    }

    else if (pdfStatus == "error")
    {
        <div class="alert alert-danger" role="alert">
            Fehler beim erstellen der PDF
        </div>
    }

    <div class="w-100 d-flex">
        <div class="w-75 mx-4">
            <div class="d-flex">
                <h2>Bestand</h2>
            </div>
            <div class="accordion accordion-flush border" id="accordionFlushExample">
                @{
                    // @await Html.PartialAsync("_SetCategories", Model.Categories);
                }
                @{
                    int i = 0;
                    @foreach (var item in Model.Categories)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading@i">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@i" aria-expanded="false" aria-controls="flush-collapse-@i">
                                    @item.Name - @item.Products.Sum(x => x.Value)Stk
                                </button>
                            </h2>
                            <div id="flush-collapse-@i" class="accordion-collapse collapse" aria-labelledby="flush-heading-@i" data-bs-parent="#accordionFlushExample">
                                <table class="table table-dark table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Bezeichnung</th>
                                            <th scope="col">Anzahl</th>
                                            <th scope="col">Min. Anzahl</th>
                                            <th scope="col">Farbe</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in @item.Products)
                                        {
                                            <tr>
                                                <th scope="row">@product.Name</th>
                                                <td>@product.Value</td>
                                                <td>@product.MinValue</td>
                                                <td>@product.Color.Name</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        i++;
                    }
                }
            </div>
        </div>

        <div class="w-25">
            <h2 class="text-center">Offene Bestellungen</h2>
            <div class="d-flex justify-content-between">
                <a type="button" class="btn btn-dark" asp-action="OpenOrders">Offen</a>
                <a type="button" class="btn btn-dark" asp-action="CanceledOrders">Storniert</a>
                <a type="button" class="btn btn-dark" asp-action="ReadyOrders">Erledigt</a>
            </div>
            <hr>
            <ul class="list-group">
                @{
                    if (ViewData["orderStatus"] == "open")
                    {
                        ViewData["pdfStatus"] = "open";
                    }

                    if (ViewData["orderStatus"] == "canceled")
                    {
                        ViewData["pdfStatus"] = "canceled";
                    }

                    if (ViewData["orderStatus"] == "ready")
                    {
                        ViewData["pdfStatus"] = "ready";
                    }

                    if (ViewData["orderStatus"] == string.Empty)
                    {
                        <p>Ein Fehler ist aufgetreten</p>
                    }
                    @await Html.PartialAsync("_CancledOrders", Model.Orders)
                    ;
                }
            </ul>
        </div>
    </div>
}
