@using System.Diagnostics
@*@model IEnumerable<Multiflex.Frontend.WebApp.Models.SupplierDto>*@
@model IEnumerable<Multiflex.Frontend.WebApp.Models.SupplierMaterial>

@{
    ViewData["Title"] = "Lieferanten";

    Stopwatch stopWatch = new Stopwatch();
    stopWatch.Start();

    @*<h1>@ViewData["Title"]</h1>

        <div class="d-flex justify-content-center pt-3 pb-2">
        <a href="../Material/Index" class="btn btn-light">Materialien mit Lieferanten anzeigen</a>
        <a asp-action="Add" id="open-add-window" class="btn btn-primary">Erstellen</a>
        </div>*@


    <h1 class="text-center">@ViewData["Title"]</h1>
    <center><a asp-action="Add" id="open-add-window" class="btn btn-primary m-5">Neu Hinzufuegen</a></center>

    <center>
        <div class="accordion w-75" id="accordionExample">
        @*List<Multiflex.Frontend.WebApp.Models.SupplierMaterial> inuse = new List<Multiflex.Frontend.WebApp.Models.SupplierMaterial>();*@
            @foreach (var item in Model)
            {
                @if (item.supplier_name != "NotExisting")
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@Html.DisplayFor(modelItem => item.id)">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@Html.DisplayFor(modelItem => item.supplier_name)" aria-expanded="false" aria-controls="@Html.DisplayFor(modelItem => item.supplier_name)">
                                @Html.DisplayFor(modelItem => item.supplier_name)
                            </button>
                        </h2>
                        <div id="@Html.DisplayFor(modelItem => item.supplier_name)" class="accordion-collapse collapse w-100" aria-labelledby="@Html.DisplayFor(modelItem => item.id)" data-bs-parent="#accordionExample">


                            <!--
                            Hier muss eine for rein umm alle materialien des lieferanten anzeigen zu können fals es mehr als 1 ist dann von model holen und ausgeben
                            <div class="container"> ... in die for


                            Model muss noch um geändert werden (ein anderes mit waren - ist schon feertig in material controller programmiert worden) um die waren auch darstellen zu können um sich die zweite extra seite sparen zu können
                            einfach de requests in Lieferanten controller kopieren oder material controller verwenden und/oder umbennenen dann sollte alles gehen wenn markus nix am datenmodel geändert hat

                            Falls noch Zeit bleibt soll es etwas schöner gestalltet werden ich habe schon ein paar feinheiten gemacht so das man nicht sofort augenkrebs bekommt
                            -->
                        <div class="container p-0 m-0">
                                <div class="row p-0 m-0 bg-secondary text-white">
                                    <div class="col p-0 m-0">
                                        Materialien
                                    </div>
                                    <div class="col p-0 m-0">
                                        Webseite
                                    </div>
                                    <div class="col p-0 m-0">
                                        Lieferzeit
                                    </div>
                                </div>
                                
                                <!--Das muss in eine For/foreach oben das darüber NICHT-->
                            <!---<div class="row">
                                    <div class="col">
                                        @Html.//DisplayFor(modelItem => item.supplier_name)
                                    </div>
                                    <div class="col">
                                        @Html.//DisplayFor(modelItem => item.link)
                                    </div>
                                    <div class="col">
                                        @Html.//DisplayFor(modelItem => item.deliveryTime) Tage
                                    </div>
                             </div>

                             <hr>--->


                                @foreach (var waren in Model)
                                {
                                    @if (waren.link == item.link)
                                    {
                                        <hr class="p-0 m-0">
                                        <!--Auflistung der Waren-->
                                        <div class="row p-0 m-0">
                                            <div class="col p-0 m-0">
                                                @Html.DisplayFor(modelItem => waren.ware_name)
                                            </div>
                                            <div class="col p-0 m-0">
                                                @Html.DisplayFor(modelItem => waren.link)
                                            </div>
                                            <div class="col p-0 m-0">
                                                @Html.DisplayFor(modelItem => waren.deliveryTime) Tage
                                            </div>
                                        </div>
                                        
                                    }
                                }
                         </div>



                        </div>
                    </div>
                }
            }
        </div>
    </center>
    <a href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    </a>

    stopWatch.Stop();
    Console.WriteLine("Index.cshtml: " + stopWatch.Elapsed);
}
