@model IEnumerable<Multiflex.Frontend.WebApp.Models.LieferantDto>

@{
    ViewData["Title"] = "Lieferanten";
}

<div class="text-center " align="center">
    <h1>@ViewData["Title"]</h1>

    <center><div class="w-75" id="table_div"></div></center>

    <div class="d-flex justify-content-center pt-3 pb-2">
        <a href="../Material/Index" class="btn btn-light">Materialien mit Lieferanten anzeigen</a>
        <a asp-action="Add" id="open-add-window" class="btn btn-primary">Erstellen</a>
    </div>


    <table class="table w-75">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Weblink</th>
                <th scope="col">Lieferzeit</th>
                <th scope="col">L&ouml;schen</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.weblink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lieferzeit)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new {  id=item.id  })
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        //function pageLoaded(){
        //ipcRenderer.send('loadLieferanten');
        //}
        //document.getElementById("open-add-window").addEventListener("click", () => {
        //ipcRenderer.send("open-add-window");
        //});
        //document.getElementById("open-delete-window").addEventListener("click", () => {
        //ipcRenderer.send("open-add-window");
        //});
    </script>

</div>

